<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pivotal's Cloud Native Webinars for First Data</title>
<link rel="stylesheet" type="text/css" href="../static/css/view.css"
	th:href="@{css/view.css}" media="all" />
<script type="text/javascript" src="view.js"></script>

<link href='https://d1fto35gcfffzn.cloudfront.net/images/favicon.ico'
	rel='shortcut icon' type='image/vnd.microsoft.icon'></link>

</head>
<body id="main_body">
	<p></p>
	<div align="center">

		<img src="../static/images/first_data.png"
			th:src="@{images/first_data.png}"
			style="float: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;" />
		<img src="../static/images/pivotal.png" th:src="@{images/pivotal.png}"
			style="float: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;" />
		<h1>
			<a>Pivotal's Cloud Native Webinars for First Data</a>
		</h1>
	</div>

	<img id="top" src="../static/images/top.png" th:src="@{images/top.png}"
		alt="" />
	<div id="form_container">



		<!-- 		<form id="form_1064792" class="appnitro"  action="#" th:action="@{/}" th:object="${transactionFormInput}" method="post">
					<div class="form_description">
			<h2>Credit Card Transaction</h2>
			<p>An example application that calls the Payeezy API</p>
		</div>				
			    <p th:text="${responseMessage} + '!'" />
				
			<ul>  -->


		<table>
			<tr>
				<th>Date</th>
				<th>Topic</th>
				<th>Description</th>
				<th>Presenter</th>
			</tr>
			<tr>
				<td>09/27/2016</td>
				<td>Ask Me Anything (AMA) Reactive Programming</td>
				<td>The reactive programming model involves a fundamental shift
					from imperative to non-blocking logic and understanding what that
					means on the most basic level is an essential and required first
					step. Prerequisites: Rossen's talk from SpringOne found <a
					href="https://www.infoq.com/presentations/springone-2016-technical-keynote-4">here</a>
				</td>
				<td>Rossen Stoyanchev</td>
			</tr>
			<tr>
				<td>9/30/2016</td>
				<td>Pivotal Cloud Foundry and Apigee</td>
				<td>A demo of PCF with Apigee Edge to provide route services.
					The route service intelligently routes API traffic to and from
					Edge, thereby leveraging Apigee's broad range of features related
					to traffic management, mediation, policy enforcement, and
					analytics.</td>
				<td>Kartik Lunkad</td>
			</tr>
			<tr>
				<td>10/5/2016</td>
				<td>Under the Hood with Containers and Cloud Foundry</td>
				<td>A deep dive exploring containers, their use cases and
					implementation, and how Cloud Foundry uses them; compare to k8s and
					other platforms</td>
				<td>John Feminella</td>
			</tr>
			<tr>
				<td>10/11/2016</td>
				<td>Spring Batch, Spring Cloud Data Flow</td>
				<td>AMA session with Marius Bogoevici</td>
				<td>Marius Bogoevici</td>
			</tr>
			<tr>
				<td>10/14/2016</td>
				<td>Introduction to Spring Boot</td>
				<td>An overview of Spring Boot followed by a live-coding demo</td>
				<td>Utkarsh Nadkarni</td>
			</tr>

			<tr>
				<td>10/18/2016</td>
				<td>Spring Cloud and the Config Server</td>
				<td>An overview of Spring Cloud and a look at the Config Server
					with a live-coding demo</td>
				<td>Utkarsh Nadkarni</td>
			</tr>
			<tr>
				<td>11/04/2016</td>
				<td>"Eventually Consistent" Database Design</td>
				<td>A look at designing architectures with eventually
					consistent backing stores</td>
				<td>Vinicius Carvalho</td>
			</tr>
			<tr>
				<td>11/11/2016</td>
				<td>Pivotal Cloud Foundry and Jenkins</td>
				<td>Use CI/CD with Jenkins to deploy applications to Pivotal
					Cloud Foundry</td>
				<td>Kartik Lunkad</td>
			</tr>
			<tr>
				<td>11/18/2016</td>
				<td>Pivotal Cloud Foundry and Zipkin</td>
				<td>We’ll describe how to do distributed tracing with Spring
					Cloud Sleuth and Zipkin. Additionally, we'll show a demo of
					incorporating these technologies into an existing application.</td>
				<td>Reshmi Krishna</td>
			</tr>
			<tr>
				<td>12/02/2016</td>
				<td>Spring Cloud and Service Discovery</td>
				<td>An overview of Spring Cloud and a look at the Service Discovery with Netflix's Eureka. This will be followed by a live-coding demo</td>
				<td>Utkarsh Nadkarni</td>
			</tr>
		</table>
		<p></p>
		<div id="footer">
			Deployed on <a href="https://run.pivotal.io">Pivotal Cloud
				Foundry</a>
		</div>

	</div>
	<img id="bottom" src="../static/images/bottom.png"
		th:src="@{images/bottom.png}" alt="" />
</body>
</html>
