<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pivotal's Cloud Native Webinars for First Data</title>
<link rel="stylesheet" type="text/css" href="../static/css/view.css"
	th:href="@{css/view.css}" media="all" />
<script type="text/javascript" src="view.js"></script>

<link href='https://d1fto35gcfffzn.cloudfront.net/images/favicon.ico'
	rel='shortcut icon' type='image/vnd.microsoft.icon'></link>

</head>
<body id="main_body">
	<p></p>
	<div align="center">

		<img src="../static/images/first_data.png"
			th:src="@{images/first_data.png}"
			style="float: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;" />
		<img src="../static/images/pivotal.png" th:src="@{images/pivotal.png}"
			style="float: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;" />
		<h1>
			<a>Pivotal's Cloud Native Webinars for First Data</a>
		</h1>
	</div>

	<img id="top" src="../static/images/top.png" th:src="@{images/top.png}"
		alt="" />
	<div id="form_container">



		<!-- 		<form id="form_1064792" class="appnitro"  action="#" th:action="@{/}" th:object="${transactionFormInput}" method="post">
					<div class="form_description">
			<h2>Credit Card Transaction</h2>
			<p>An example application that calls the Payeezy API</p>
		</div>
			    <p th:text="${responseMessage} + '!'" />

			<ul>  -->


		<table>
			<tr>
				<th>Date</th>
				<th>Topic</th>
				<th>Description</th>
				<th>Presenter</th>
			</tr>
			<tr>
				<td>4/13/2017</td>
				<td>In-Memory Data Caching for Microservices Architectures</td>
				<td>To reap the flexibility and scalability benefits of microservices architectures, companies need to employ design patterns for their data layer. But what are the unique challenges for data in a microservices architecture? And how can microservices co-exist with previous generations of investments?</td>
				<td>Nikhil Chandrappa</td>
			</tr>

			<tr>
				<td>4/27/2017</td>
				<td>Consumer Driven Contracts</td>
				<td>Consumer driven contracts as a topic isn't new, but is an important part of a mature microservice testing portfolio, enabling independent service deployments</td>
				<td>Reshmi Krishna</td>
			</tr>
			<tr>
				<td>5/4/2017</td>
				<td>CQRS</td>
				<td>Maintaining data consistency across a set of microservices is one of the bigger hurdles in the microservices world. Enter command query responsibility segregation, or CQRS. We will talk about the challenges CQRS helps microservices developers overcome, provide advice for implementing CQRS, and discuss the complexities that CQRS itself introduces to microservices applications.</td>
				<td>Kartik Lunkad</td>
			</tr>
			<tr>
				<td>5/18/2017</td>
				<td>Container to Container Networking</td>
				<td>An overview of Container to Container Networking, use-cases and customer stories of using it</td>
				<td>Tim Green</td>
			</tr>
			<tr>
				<td>6/1/2017</td>
				<td>PCF Office Hours</td>
				<td>An open session to discuss various aspects of PCF</td>
				<td>Kartik Lunkad</td>
			</tr>

			<tr>
				<td>6/15/2017</td>
				<td>Isolation Segments</td>
				<td>Isolation Segment​ ­- a group of Cloud Foundry resources (compute, network, logging) to which applications can be directed for deployment. An Isolation Segment (IS) may optionally be dedicated to the sole use of a particular organization or even to that of specific users within the organization.</td>
				<td>Ryan Moran</td>
			</tr>

			<tr>
				<td>6/29/2017</td>
				<td>Continuous Upgrades with OCB (OpsManager, Concourse and Bosh)</td>
				<td>During this session, we will take a deep dive on how we can do continuous upgrades of Pivotal Cloud Foundry with OCB</td>
				<td>Daxter Mateo</td>
			</tr>

			<tr>
				<td>7/27/2017</td>
				<td>Cloud Native Security</td>
				<td>During this session, we will take a deep dive into the world of JWT, OAuth2 and the SSO tile</td>
				<td>Jaime Aguilar</td>
			</tr>
		</table>
		<p></p>
		<div id="footer">
			Deployed on <a href="https://run.pivotal.io">Pivotal Cloud
				Foundry</a>
		</div>

	</div>
	<img id="bottom" src="../static/images/bottom.png"
		th:src="@{images/bottom.png}" alt="" />
</body>
</html>
